@font-face {
  font-family: 'Kurland';
  src: url('/fonts/Kurland.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

:root {
  font-family: 'Kurland', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  --background-color: #09434f;
  --text-color: #f8f9fa;
  --accent-color: #de81d8;
  --secondary-color: #413e3a;
  --black: #2a2a2a;
  --white: #f5f5dc;

  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-theme {
  --background-color: #CFF7FF;
  --text-color: #1a1a2e;
  --accent-color: #d741c6;
  --secondary-color: #FDDDC1;
}

button {
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--accent-color);
  border-bottom: 8px solid var(--accent-color);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  height: 60px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
  outline: none;
}

button:hover {
  border: 2px solid var(--accent-color);
}

button:focus,
button:active {
  outline: none;
}
